<include file="header" />
<style type="text/css">
.wraper{width: 980px;margin: 0 auto;}
#title{width: 100%;border: 1px solid #d0cfcf;height: 32px;margin: 10px 0;}
</style>
	<div class="wraper">
		<input type="file" id="file_upload_icon">
	</div>
</body>
<script type="text/javascript" src="__PUBLIC__/jq/jq.js"></script>
<script src="__PUBLIC__/uploadify/jquery.uploadify.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$('#file_upload_icon').uploadify({
		'swf'      			: '__PUBLIC__/uploadify/uploadify.swf',
		'uploader' 			: "{:U('fileupload')}",
		'buttonText'		: '上传文件',
		'removeTimeout'		: 2,
		'auto'				: true,
		'removeCompleted'	: true,
		'multi'				: true,
		'onQueueComplete'	: function(){
			
		},
		'onUploadSuccess'	: function(file,data,response){
			
		},
		'onUploadError'		: function(file,errorCode,errorMsg,errorString){
			alert('The file ' + file.name + ' could not be uploaded: ' + errorString + '! ErrorMsg: ' + errorMsg);
		}
	});
})
</script>
</html>