<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pic</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/actstyle.css">
</head>
<body>
	<div id="head">
		<div class="W">
			<div class="logo">
				<a href="" class="lg">昱昱</a>
			</div>
			<div class="menu">
				<a href="file:///F:/%E5%B7%A5%E4%BD%9C/bolg/index.html" class="m_tip">首页</a>
				<a href="pic.html" class="m_tip">秀秀墙</a>
				<a href="article.html" class="m_tip">文章</a>
				<a href="" class="m_tip" style="color:#fff;">活动</a>
				<a href="" class="m_tip">讨论区</a>
			</div>
			<div class="mes">
				<a href="" class="m_im">登陆</a>
				<a href="" class="m_im">注册</a>
			</div>
		</div>
	</div>
	<div class="W ac_style">
		<div class="kuang ac_list">
			<div class="ac_border">
				<a href="" class="ac_t">荷尔蒙比武赛季各大区钻石TOP10名单揭晓</a><span class="ac_span">20分钟前</span>
			</div>
			<div class="ac_border"><a href="" class="ac_t">国庆天天乐，六大活动伴长假</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">剑灵宝贝超级星复赛启动</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">766:中韩对抗赛，参与赢好礼</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">多玩：看中韩比赛直播 关注转发微信领QB</a><span class="ac_span">2014-11-8</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">2014-11-3</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">2014-10-8</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">2014-10-23</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">2014-10-18</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_border"><a href="" class="ac_t">满级活动来袭，传说八卦铸就传说之路</a><span class="ac_span">20分钟前</span></div>
			<div class="ac_pag">
				<a href="" class="ac_p">上一页</a><a href="" class="ac_p">下一页</a>
			</div>
		</div>
		
	</div>
	<div id="foot">
		<div class="W f_top">
			<a href="" class="f_a">关于我们</a>
			<a href="" class="f_a">发展经历</a>
			<a href="" class="f_a">友情链接</a>
			<a href="" class="f_a">意见反馈</a>
		</div>
	</div>
</body>
</html>